body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-left: 22vw;
    width: 50vw;
    height: 50vh;
    background-image: linear-gradient(to bottom, #6c5ce7, #a855f7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.hidden {
    display: none;
}

#result {
    font-size: 24px;
    font-weight: bold;
    color: rgb(17, 44, 250);
}